{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type='text/css' href="{% static 'css/home.css' %}">
{% endblock head %}
{% block content %}
<div class='header'>
  <h1 class='header-text'>🪴 Recently Posted Facts 🐋</h1>
</div>

<section class='fact-list'>
  {% for fact in fact_list %}
  <div class='card'>
    <a href="{% url 'fact_detail' fact.id %}">
      <div>
        {% if fact.photo.url %}
          <img class='image' src="{{ fact.photo.url }}" alt="">
        {% else %}
          <img class='image' src="" alt="">
        {% endif %}
        <h2 class='fact-title'>{{ fact.title }}</h2>
        <p class='fact-desc'>{{ fact.description }}</p>
        <p class='fact-author'>Written By: {{ fact.author }}</p>
        <p class='fact-date'>Posted On: {{ fact.date }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock content %}