{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type='text/css' href="{% static 'css/home.css' %}">
{% endblock head %}
{% block content %}
<div class='header'>
  <h1 class='header-text'>🪴 Recently Posted Facts 🐋</h1>
</div>

<section>
  {% for fact in fact_list %}
  <div>
    <a href="{% url 'fact_detail' fact.id %}">
      <div>
        {% if fact.photo.url %}
          <img src="{{ fact.photo.url }}" alt="">
        {% else %}
          <img src="" alt="">
        {% endif %}
        <h2>{{ fact.title }}</h2>
        <p>{{ fact.description }}</p>
        <p>Written By: {{ fact.author }}</p>
        <p>Posted On: {{ fact.date }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock content %}