{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>BioFacts</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <nav>
  {% if user.is_authenticated %}
  <div class='navbar-logo-div'>
    <a class='navbar-logo' href="{% url 'home' %}"><img src="{% static 'images/BioFacts-logo.png' %}" alt="Logo"></a>
  </div>
  <div class='navbar-item-div'>
    {% comment %} <a class='navbar-item' href="{% url 'about' %}">🦤 About 🦤</a> {% endcomment %}
    <a class='navbar-item' href="{% url 'fact_create' %}">💡 Post a New Fact 💡</a>
    <a class='navbar-item' href="{% url 'logout' %}">😿 Logout 😿</a>
  </div>
  {% else %}
  <div class='navbar-logo-div'>
    <a class='navbar-logo' href="{% url 'home' %}"><img src="{% static 'images/BioFacts-logo.png' %}" alt="Logo"></a>
  </div>
  <div class='navbar-item-div'>
    {% comment %} <a class='navbar-item' href="{% url 'about' %}">🦤 About 🦤</a> {% endcomment %}
    <a class='navbar-item' href="{% url 'loginuser' %}">🦧 Login 🦧</a>
    <a class='navbar-item' href="{% url 'signup' %}">🐣 Signup 🐣</a>
  </div>    
  {% endif %}
  </nav>
  <main>
  {% block content %}
  {% endblock %}
  </main>
</body>
</html>