{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block content %}
  <h1 class='header'>Login</h1>
    <section class='form-sect'>
      <form action="{% url 'loginuser' %}" method="post" class="login">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <div class='submit-div'>
          <button type="submit" class="submit-btn">Login</button>
        </div>
      </form>
    </section>
{% endblock %}