.fact-text {
  width: 40rem;
  text-align: center; 
}

.fact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fact-img {
  margin-top: 2rem;
  width: 40rem;
  border-radius: 2rem;
}

.fact-title {
  margin: 0px;
  font-size: 64px;
}

.fact-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editing-sect {
  text-align: center;
}

.photo-change-header {
  font-size: 28px;
  margin-bottom: 10px;
}

.fact-desc {
  font-size: 24px;
}

#file-input:hover {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.edit, .delete, .btn-submit-photo {
  height: 3rem;
  width: 6rem;
  font-size: 16px;
  border-radius: 1rem;
  background-color: #00A896;
  margin: 0 5px 0 5px;
  box-shadow: 2.5px 2.5px 2.5px #0c3376;

}

.btn-submit-photo {
  margin-top: 20px
}

.edit:hover, .delete:hover, .btn-submit-photo:hover {
  background-color: #00ffe5;
  cursor: pointer;
  box-shadow: 7.5px 7.5px 7.5px #0c3376;
}

.image-label:hover {
  cursor: pointer;
}

.edit-div {
  margin: 10px
}