.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.fact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  background-color: #00A896;
  width: 30rem;
  padding: 0.75rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  text-align: center;
  margin: 20px 0 20px 0;
  box-shadow: 8px 8px 8px #0c3376;
}

.image {
  width: 27rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #0c3376;
}

.fact-title {
  font-size: 1.6rem
}

.fact-date, .fact-author {
  font-size: 0.9rem;
}

.fact-desc {
  font-size: 1.1rem;
}
.card:hover {
  background-color: #00ffe5;
  box-shadow: 16px 16px 16px #0c3376;
}

@media (max-width: 500px) {
  .fact-list {
    justify-content: center;
  }
  .card {
    width: 20rem;
  }
  .image {
    width: 17rem;
  }
}