{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type='text/css' href="{% static 'css/detail.css' %}">
{% endblock head %}
{% block content %}
  <section class='main-section'>
  <div class='fact-container'>
    {% if fact.photo %}
    <img class='fact-img'src="{{ fact.photo.url }}" alt="An Image About The Biology Fact">
    {% else %}
    
    {% endif %}
  </div>
  {% if fact.author == user %}
    <section class='editing-sect'>
      <h3 class='photo-change-header'>Change your Fact's Photo</h3>
        <p id="file-name"></p>
        <form 
          action="{% url 'add_photo' fact.id %}"
          enctype="multipart/form-data"
          method="POST"
        >
          {% csrf_token %}
          <label class="image-label">
            Select an Image to Upload Here
            <input type="file" name="photo-file" id="file-input">
            <br>
          </label>
          <button type="submit" class="btn-submit-photo">Upload Photo</button>
        </form>
      <div class='edit-div'>
        <a href="{% url 'fact_update' fact.id %}">
        <button class='edit'>
        Edit
        </button>
        </a>
        <a href="{% url 'fact_delete' fact.id %}">
        <button class='delete'>
        Delete
        </button>
        </a>
      </div>
    </section>
  {% endif %}
  <div class='fact-text-div'>
    <div class='fact-text'>
      <h1 class='fact-title'>{{ fact.title }}</h1>
      <p class='fact-desc'>{{ fact.description }}</p>
      <p class='fact-author'>Written By: {{ fact.author }}</p>
      <p class='fact-date'>Posted On: {{ fact.date }}</p>
    </div>
  </div>

  </section>
{% endblock content %}