{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock head %}
{% block content %}
  <section>
  {% if fact.photo %}
  <img src="{{ fact.photo.url }}" alt="An Image About The Biology Fact">
  {% else %}
  
  {% endif %}
  <h1>{{ fact.title }}</h1>
  </section>

  {% if fact.author == user %}
  <h3>Change your facts photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' fact.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  <div>
    <a href="{% url 'fact_update' fact.id %}">Edit</a>
    <a href="{% url 'fact_delete' fact.id %}">Delete</a>
  </div>
  {% endif %}
{% endblock content %}